<ion-header  >
  <ion-toolbar color="light">
    <ion-title>Select Stop</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar 
    show-clear-button="focus" value="Show on Focus"
      [(ngModel)]="searchQuery" 
      placeholder="Search stops..." 
      (ionInput)="filterStops()"
      debounce="300">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-item 
      *ngFor="let stop of filteredStops" 
      button 
      (click)="selectStop(stop)"
      class="stop-item">
      
      <ion-icon name="bus-outline" color="warning" slot="start"></ion-icon>
      
      <ion-label>
        <h3>{{ stop.name }}</h3>
        <p>{{ stop.area }} • {{ stop.lines.join(', ') }}</p>
      </ion-label>
      
      <ion-icon name="chevron-forward" color="medium" slot="end"></ion-icon>
    </ion-item>

    <ion-item *ngIf="filteredStops.length === 0" class="no-results">
      <ion-label class="ion-text-center">
        <p>No stops found</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>