<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Routes & Buses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tabs-container">
    <button 
      class="tab-button" 
      [class.active]="selectedTab === 'favorites'"
      (click)="selectTab('favorites')">
      <ion-icon name="heart-outline"></ion-icon>
      Favorites
    </button>
    <button 
      class="tab-button" 
      [class.active]="selectedTab === 'recent'"
      (click)="selectTab('recent')">
      <ion-icon name="time-outline"></ion-icon>
      Recent
    </button>
  </div>

  <div class="routes-list">
    <ion-card *ngFor="let fav of listeFavs | async" class="route-card">
      <ion-card-content>
        <div class="route-header">
          <!-- <div class="route-info">
            <ion-icon name="star" class="favorite-icon"></ion-icon>
            <span class="duration">{{ fav.duration }} min</span>
          </div> -->
          <ion-button 
            fill="clear" 
            class="delete-button"
            (click)="deleteRoute(fav.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>

        <div class="route-details">
          <div class="location-container">
            <div class="location">
              <span class="location-dot origin-dot"></span>
              <span class="location-text">{{ fav.originStopName }}</span>
            </div>
            <div class="location-line"></div>
            <div class="location">
              <span class="location-dot destination-dot"></span>
              <span class="location-text">{{ fav.destinationStopName }}</span>
            </div>
          </div>

          <!-- <ion-button 
            class="go-button" 
            shape="round"
            (click)="goToRoute(fav)">
            Go
          </ion-button> -->
        </div>

        <div class="bus-info" *ngIf="fav.buses && fav.buses.length > 0">
          <span class="bus-number" *ngFor="let bus of fav.buses">{{ bus }}</span>
          <span class="bus-route" *ngIf="fav.busRoute">{{ fav.busRoute }}</span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>